.Pics {
  display: flex; 
  justify-content: space-evenly;
}

.GifsList {
  display: flex;
}

.Gif{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 50vh; 
  width: 19vw; 
  margin: 0.5vh; 
}


.Gif img {
  min-width: 100%; 
  min-height: 100%; 
  flex-shrink: 0;
}


/* .Gif img{
  filter: blur(10px);
} */

.SelectedGif {
  width: 50vw; 
  align-self: center;
}

.SelectedGif img {
  width: 100%; 
}

.inputForm{
  margin: 100px; 
}

.inputForm label {
  font-weight: bolder;
}

.inputForm input{
  margin: 1vh; 
}