.Hangman {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffe6ff;
  text-align: center;
  width: 100vw;
  font-weight: 700;
}

.Hangman input {
  position: absolute;
  z-index: 5;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  left: 0;
}

/* Filmrolle mit Giphy-Gifs */
.GifsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25vh;
  width: 100%;
  z-index: -1;
  background-color: black;
}

@media (min-width: 320px) and (max-width: 480px) {
  .GifsList:nth-of-type(5), .Gif:nth-of-type(4), .Gifanimated:nth-of-type(4), .Gif:nth-last-of-type(5), .Gifanimated:nth-last-of-type(5) {
    display: none;
  }
}

.Gif, .Gifanimated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 80%;
  width: 19vw;
  border: 5px solid black;
  border-radius: 30px;
}

@media (max-width: 767px) {
  .Gif, .Gifanimated {
    width: 30vw;
  }
}

.Gifanimated {
  border: 20px dotted;
  -webkit-animation: bordercolor 3s linear;
          animation: bordercolor 3s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes bordercolor {
  0%, 7%, 40%, 49%, 70%, 80% {
    border-color: #7d54df;
  }
  5%, 30%, 55%, 100% {
    border-color: black;
  }
  10%, 45%, 60%, 75% {
    border-color: #c533a1;
  }
}

@keyframes bordercolor {
  0%, 7%, 40%, 49%, 70%, 80% {
    border-color: #7d54df;
  }
  5%, 30%, 55%, 100% {
    border-color: black;
  }
  10%, 45%, 60%, 75% {
    border-color: #c533a1;
  }
}

.Gif img, .Gifanimated img {
  min-width: 100%;
  min-height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.blurr {
  -webkit-filter: blur(30px);
          filter: blur(30px);
}

.wrongLetter, .Gif .wrongLetter, .Gifanimated .wrongLetter {
  font-family: 'Fira Mono', monospace;
  letter-spacing: -5px;
  position: absolute;
  font-size: 5em;
  bottom: 3vh;
  text-decoration: line-through;
  font-weight: bolder;
  color: #ffe6ff;
  text-shadow: 20px 20px 0 black, 20px 20px black, 20px 20px 0 black, 20px 20px black;
}

.Gif .wrongLetter, .Gifanimated .wrongLetter {
  bottom: 3vh;
}

/* Animation Intro + Hangman-Guessed Word */
.introHangman {
  background-color: #111;
  background-image: radial-gradient(#333, #111);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -2;
  overflow: hidden;
  height: 50vh;
}

@media (max-width: 767px) {
  .introHangman {
    height: 77vh;
  }
}

.fly-in {
  margin: 20vh auto;
  height: 20vh;
}

.fly-in div {
  font-size: 4rem;
}

.fly-in div span {
  display: block;
  font-size: .4em;
  opacity: .8;
  text-transform: uppercase;
}

.intro {
  position: fixed;
  margin: 2vh 0;
  opacity: 0;
  left: 10vw;
  width: 80vw;
  -webkit-animation: switch 12s linear;
          animation: switch 12s linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-transform: scale(12);
          transform: scale(12);
  -webkit-filter: blur(10px);
          filter: blur(10px);
  text-transform: uppercase;
}

.intro:nth-child(2) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.intro:nth-child(3) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

@-webkit-keyframes switch {
  0% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    -webkit-transform: scale(12);
            transform: scale(12);
  }
  5% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  20% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes switch {
  0% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    -webkit-transform: scale(12);
            transform: scale(12);
  }
  5% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  20% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.DisplayWord div {
  position: fixed;
  margin: 2vh 0;
  opacity: 0;
  left: 10vw;
  width: 80vw;
  -webkit-animation: flyIn 4s linear;
          animation: flyIn 4s linear;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hangmanNewGame {
  position: fixed;
  opacity: 0;
  left: 10vw;
  width: 80vw;
  -webkit-animation: flyIn 4s linear;
          animation: flyIn 4s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes flyIn {
  0% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    -webkit-transform: scale(12);
            transform: scale(12);
  }
  5% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes flyIn {
  0% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    -webkit-transform: scale(12);
            transform: scale(12);
  }
  5% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Hangman-Menu */
.HangmanMenu {
  height: 0;
}

@media (max-width: 767px) {
  .HangmanMenu {
    display: none;
  }
}

.HangmanMenu.left {
  position: absolute;
  top: 12rem;
  padding: 1rem;
  height: 11rem;
}

.HangmanMenu.left ul li {
  padding: 15px;
  font-size: 1.5rem;
  -webkit-transform: rotateY(20deg) rotateX(-25deg) skewY(15deg);
          transform: rotateY(20deg) rotateX(-25deg) skewY(15deg);
  text-align: right;
}

.HangmanMenu.right {
  position: absolute;
  top: 12rem;
  right: 16rem;
  padding: 1em;
  height: 20rem;
}

.HangmanMenu.right ul li {
  padding: 15px;
  font-size: 1.3rem;
  -webkit-transform: rotateY(-20deg) rotateX(-25deg) skewY(-15deg);
          transform: rotateY(-20deg) rotateX(-25deg) skewY(-15deg);
  text-align: left;
}

.HangmanMenu ul {
  left: -0.5em;
  position: absolute;
  color: #ededed;
  width: 15rem;
  text-align: right;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  perspective: 700px;
  -webkit-perspective: 700px;
  -moz-perspective: 700px;
  -webkit-perspective-origin: center top;
          perspective-origin: center top;
}

.HangmanMenu ul li {
  width: 10vw;
  min-width: 4.5em;
  font-weight: 800;
  color: #ededed;
  border-radius: 10px;
  border-bottom: 4px solid;
  border-color: rgba(158, 130, 212, 0.966);
  text-shadow: 0.5px 0.5px 1px #727272, 0 0 0.25em #4a165a, 0 0 0.02em #7d54df;
  mix-blend-mode: multiply;
  cursor: pointer;
}

.HangmanMenu ul li:hover {
  -webkit-transform: translateY(20%) rotateY(1deg) rotateX(4deg) scale(1.02);
          transform: translateY(20%) rotateY(1deg) rotateX(4deg) scale(1.02);
  text-shadow: 0.5px 0.5px 1px #c533a1, 0 0 0.25em #4a165a, 0 0 0.02em #7d54df;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  z-index: 999;
  mix-blend-mode: normal;
}

.HangmanMenu ul li:nth-child(even) {
  background: rgba(75, 75, 114, 0.4);
}

.HangmanMenu ul li:nth-child(odd) {
  background: rgba(123, 110, 180, 0.4);
}

.HangmanMenu ul li a {
  font-size: 1.3rem;
  text-shadow: 0.5px 0.5px 1px #c533a1, 0 0 0.25em #4a165a, 0 0 0.02em #7d54df;
  font-weight: 800;
  color: #ededed;
  text-decoration: none;
}

.HangmanMenu ul li.selected {
  color: #7d54df;
  text-shadow: 0.5px 0.5px 1px #c533a1, 0 0 0.25em #4a165a, 0 0 0.02em #7d54df;
  z-index: 999;
  mix-blend-mode: normal;
}

/* HangmanLoose Menu */
.hangmanLooser {
  background-image: url(GameOver/1GameOver.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hangmanLooser .looseImage {
  height: 90vh;
  margin: 4vh 2vw;
}

.hangmanLooser img {
  height: 100%;
}

.HangmanEnd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4vh;
  margin-left: 2vw;
  color: #ededed;
  border: 5px solid #ebeaf3;
  border-radius: 5px;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(-35deg, rgba(41, 5, 99, 0.4), rgba(79, 17, 138, 0.4));
}

.HangmanEnd h1 {
  font-size: 3rem;
  margin: 0;
  height: 2em;
  -ms-user-select: none;
      user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  text-shadow: 1px 2px 2px #e9e7f0, 0 0 2em #6c4dc0, 0 0 0.2em #fd157e;
}

.HangmanEnd ul {
  list-style-type: none;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.HangmanEnd ul li {
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  -webkit-transform: rotateY(-6deg) rotateX(10deg) skewY(-5deg);
          transform: rotateY(-6deg) rotateX(10deg) skewY(-5deg);
  border-bottom: 4px solid;
  border: linear-gradient(45deg, rgba(141, 58, 197, 0.3), rgba(114, 86, 190, 0.3));
  mix-blend-mode: multiply;
  font-size: 2rem;
}

.HangmanEnd ul li a {
  font-size: 2rem;
  text-shadow: 1px 1px 2px #c533a1, 0 0 1em #4a165a, 0 0 0.2em #7d54df;
  color: #ededed;
  text-decoration: none;
  font-weight: 800;
  text-align: center;
  -ms-user-select: none;
      user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.HangmanEnd ul li:nth-child(odd) {
  background: rgba(160, 162, 233, 0.4);
}

.HangmanEnd ul li:nth-child(even) {
  background: rgba(123, 110, 180, 0.4);
}

.HangmanEnd ul li:hover {
  transform: rotateY(6deg) rotateX(4deg) scale(1.02);
  -webkit-transform: rotateY(6deg) rotateX(4deg) scale(1.02);
  -moz-transform: rotateY(6deg) rotateX(4deg) scale(1.02);
  -webkit-transition: selectoption 0.4s ease-out;
  transition: selectoption 0.4s ease-out;
  -webkit-transform: selectoption 0.4s ease-out;
  -moz-transform: selectoption 0.4s ease-out;
  z-index: 999;
  mix-blend-mode: normal;
}

@-webkit-keyframes selectoption {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
  }
  50% {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
  }
}

@keyframes selectoption {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
  }
  50% {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
  }
}

/* HangmanWin Menu */
.hangmanWin {
  z-index: 6;
  position: absolute;
  width: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4vh;
  margin-left: 2vw;
  color: #ededed;
  border: 5px solid #ebeaf3;
  border-radius: 5px;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(-35deg, rgba(41, 5, 99, 0.4), rgba(79, 17, 138, 0.4));
}

.hangmanWin h1 {
  font-size: 2rem;
  margin: 0;
  height: 2em;
  -ms-user-select: none;
      user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  text-shadow: 1px 2px 2px #e9e7f0, 0 0 2em #6c4dc0, 0 0 0.2em #fd157e;
}

.hangmanWin ul {
  list-style-type: none;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.hangmanWin ul li {
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  -webkit-transform: rotateY(-6deg) rotateX(10deg) skewY(-5deg);
          transform: rotateY(-6deg) rotateX(10deg) skewY(-5deg);
  border-bottom: 4px solid;
  border: linear-gradient(45deg, rgba(141, 58, 197, 0.3), rgba(114, 86, 190, 0.3));
  mix-blend-mode: multiply;
  font-size: 2rem;
}

.hangmanWin ul li a {
  font-size: 2rem;
  text-shadow: 1px 1px 2px #c533a1, 0 0 1em #4a165a, 0 0 0.2em #7d54df;
  color: #ededed;
  text-decoration: none;
  font-weight: 800;
  text-align: center;
  -ms-user-select: none;
      user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.hangmanWin ul li:nth-child(odd) {
  background: rgba(160, 162, 233, 0.4);
}

.hangmanWin ul li:nth-child(even) {
  background: rgba(123, 110, 180, 0.4);
}

.hangmanWin ul li:hover {
  transform: rotateY(6deg) rotateX(4deg) scale(1.02);
  -webkit-transform: rotateY(6deg) rotateX(4deg) scale(1.02);
  -moz-transform: rotateY(6deg) rotateX(4deg) scale(1.02);
  -webkit-transition: selectoption 0.4s ease-out;
  transition: selectoption 0.4s ease-out;
  -webkit-transform: selectoption 0.4s ease-out;
  -moz-transform: selectoption 0.4s ease-out;
  z-index: 5;
  mix-blend-mode: normal;
}

@keyframes selectoption {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
  }
  50% {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
  }
}
/*# sourceMappingURL=Hangman.css.map */