/* Hangman classic  */

.DisplayWord {
    display: flex; 
    justify-content: space-evenly; 
    margin: 50vh 20vw;   
}

.Letter {
    /* font-family: 'Zilla Slab Highlight', cursive; */
    border: 6px solid black; 
    width: 100px; 
    font-size: 10em;
    font-weight: bolder;
    color: grey; 
    text-shadow: 20px 20px 0 black, 20px 20px black, 20px 20px 0 black, 20px 20px black; 
}


h1  {
    position: realtive;
}
  

