/* 'https://fonts.googleapis.com/css?family=VT323 */
/* https://acupoftee.github.io/fonts/Clip.ttf */
/* font-family: 'digital';
src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/38273/digital-webfont.woff'); */

/* Hangman classic  */

.Hangman {
    display: flex; 
    flex-direction: column;
    color: #fff;
    text-align: center;
    width: 100vw;
    font-weight: 700;
  }

  /* Filmrolle mit Giphy-Gifs */

 .GifsList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 25vh;
    width: 100%; 
    z-index: -1;
    background-color: black;    
}
  
.Gif{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 80%;
    width: 19vw; 
    border: 5px solid black; 
    border-radius: 30px; 
}
    
  
.Gif img {
    min-width: 100%; 
    min-height: 100%; 
    flex-shrink: 0;
}
 
.blurr {
    filter: blur(30px);
}
  
  /* Animation Explanation + Hangman-Guessed Word */
  
  .explainHangman{
    background-color: #111;
    background-image: radial-gradient(#333, #111);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -2;
    overflow: hidden;
    height: 50vh; 
  }
  
  .fly-in {
    font-size: 4em;
    margin: 20vh auto;
    height: 20vh; 
  }
  
  .fly-in span {
    display: block;
    font-size: .4em;
    opacity: .8;
    text-transform: uppercase;
  }
  
  .explain {
    position: fixed; 
    margin: 2vh 0;
    opacity: 0;
    left: 10vw;
    width: 80vw;
    animation: switch 12s linear;
    animation-delay: 2s; 
    transform:scale(12);
    filter: blur(10px); 
    text-transform: uppercase;
    /* font-family: 'Montserrat', sans-serif; */
  }
  
  .explain:nth-child(2) { animation-delay: 6s}
  .explain:nth-child(3) { animation-delay: 10s}
  
  @keyframes switch {
      0% { opacity: 0;filter: blur(10px); transform:scale(12)}
      5% { opacity: 1;filter: blur(0); transform:scale(1)}
      15% { opacity: 1;filter: blur(0); transform:scale(.9)}
      20% { opacity: 0;filter: blur(10px); transform:scale(.1)}
      80% { opacity: 0}
      100% { opacity: 0}
  }

.DisplayWord {
    position: fixed; 
    margin: 2vh 0;
    opacity: 0;
    left: 10vw;
    width: 80vw;
    animation: flyIn 4s linear; 
    animation-delay: 12s;
    animation-fill-mode: forwards;
  }

  @keyframes flyIn {
    0% { opacity: 0;filter: blur(10px); transform:scale(12)}
    5% { opacity: 1;filter: blur(0); transform:scale(1)}
    100% {opacity: 1; filter: blur(0); transform:scale(1)}
  }


 input {
  position: absolute;
  z-index: 5;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  left: 0;
}

/* Hangman-Menu */
.HangmanMenu {
  height: 0;
  }

.HangmanMenu ul{
  list-style-type: none;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  top:200px;
}

.HangmanMenu ul li{
  width: 6.5em;
  top:2.5em; 
  left: 2em;
  border-radius: 10px;
  padding:15px;
  cursor: pointer;
  transform:  rotateY(70deg) rotateX(21deg) skewY(13deg);
  position: absolute;
  border-bottom: 4px solid ;
  border: linear-gradient(45deg, rgba(141, 58, 197, 0.3), rgba(114, 86, 190, 0.3));
  text-shadow: 1px 1px 2px rgb(197, 51, 161), 0 0 1em  #fe735a, 0 0 0.2em #b91317;
  mix-blend-mode:multiply;
  text-align: left; 
  font-weight: 800;
  font-size: 1.9em; 
  z-index: 25;
}

.HangmanMenu ul li:nth-child(1){
  background: rgb(260, 162, 233,0.4);
  top:3.4em;
}

.HangmanMenu ul li:nth-child(2){
  top:5.8em;
  background: rgb(223, 110, 180,0.4);
}

.HangmanMenu ul li:nth-child(3){
  top: 8.4em;
  background: rgb(267, 161, 247,0.4);
}


.HangmanMenu ul li:hover{
  transform: rotateY(6deg) rotateX(4deg) scale(1.02);
  -webkit-transform: rotateY(6deg) rotateX(4deg) scale(1.02);
  -moz-transform: rotateY(6deg) rotateX(4deg) scale(1.02);
  transition: transform 0.4s ease-out;
  -webkit-transform: transform 0.4s ease-out;
  -moz-transform: transform 0.4s ease-out;
  z-index: 40;
  mix-blend-mode: normal;
}

@keyframes selectoption{
  0%{transform: scale(1.0);
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);}
  50%{transform:  scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);}
  100%{transform: scale(1);
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);}
}

/* Background Pics */
  

.wrongLetter {
    font-family: 'Fira Mono', monospace;
    letter-spacing: -5px;
    position: relative;
    animation: glitch 1s linear infinite;
    position: absolute;
    font-size: 5em;
    bottom: 3vh;
    text-decoration: line-through;
    font-weight: bolder;
    color: #ffffffe5;
    text-shadow: 20px 20px 0 black, 20px 20px black, 20px 20px 0 black, 20px 20px black;  
}