.DisplayWord {
  margin: 15vh auto 15vh auto; 
  font-family: 'Zilla Slab Highlight', cursive;
  letter-spacing:20px;
  font-size: 13em;
  color: grey; 
  text-shadow: 20px 20px 0 black, 20px 20px black, 20px 20px 0 black, 20px 20px black; 
} 

.Pics {
  display: flex; 
  justify-content: space-evenly;
  position: relative;
}

h1  {
  position: absolute;
  text-shadow: 0 0 20px grey, 0 0 20px grey; 
}

.GifsList {
  display: flex;
  position: absolute;
  height: 100vh;
  z-index: -1;

}

.Gif{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 20vw; 
}

.Gif img {
  min-width: 100%; 
  min-height: 100%; 
  flex-shrink: 0;
}


.blurr {
  filter: blur(30px);
}

.SelectedGif {
  width: 50vw; 
  align-self: center;
}

.SelectedGif img {
  width: 100%; 
}

.inputForm{
  margin: 100px; 
}

.inputForm label {
  font-weight: bolder;
}

.inputForm input{
  margin: 1vh; 
}