.contactContainer {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13.5px !important;
  color: #b3b5d2;
  font-family: "Tomorrow" !important;
  font-weight: 500;
  background-color: #0f1020;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: -1;
}

/* Menu */
.ContactMenu {
  padding: 1em;
  position: fixed;
  top: 0.5rem;
  right: 3rem;
  z-index: 99;
}

.ContactMenu ul {
  width: 100%;
  list-style-type: none;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 99;
}

.ContactMenu ul li {
  z-index: 99;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  border-bottom: 4px solid;
  -webkit-transform: rotateY(-20deg) rotateX(-25deg) skewY(-15deg);
          transform: rotateY(-20deg) rotateX(-25deg) skewY(-15deg);
  border: linear-gradient(45deg, rgba(141, 58, 197, 0.3), rgba(114, 86, 190, 0.3));
  text-shadow: 1px 1px 2px #c533a1, 0 0 1em #4a165a, 0 0 0.2em #7d54df;
  mix-blend-mode: multiply;
}

@media (max-width: 767px) {
  .ContactMenu ul li {
    width: auto;
    padding: 10px;
    margin: 0 0 0 auto;
  }
}

.ContactMenu ul li a {
  z-index: 99;
  font-weight: 800;
  font-size: 1.7rem;
  text-align: center;
  -ms-user-select: none;
      user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  text-decoration: none;
  color: #ededed;
}

@media (max-width: 767px) {
  .ContactMenu ul li a {
    font-size: 1.2rem;
  }
}

.ContactMenu ul li:nth-child(1) {
  background-color: rgba(160, 162, 233, 0.4);
}

.ContactMenu ul li:nth-child(2) {
  background-color: rgba(123, 110, 180, 0.4);
}

.ContactMenu ul li:hover {
  transform: rotateY(6deg) rotateX(4deg) scale(1.02);
  -webkit-transform: rotateY(6deg) rotateX(4deg) scale(1.02);
  -moz-transform: rotateY(6deg) rotateX(4deg) scale(1.02);
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  -webkit-transform: transform 0.4s ease-out;
  -moz-transform: transform 0.4s ease-out;
  z-index: 2;
  mix-blend-mode: normal;
}

@-webkit-keyframes selectoption {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes selectoption {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Contact Form */
.contactFormContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  .contactFormContainer {
    height: auto;
    top: -8vh;
    left: -9vw;
    padding-bottom: 7vh;
  }
}

.contactFormContainer .formContainer {
  width: 30vw;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #0f1020;
  margin-top: 7vh;
}

@media (max-width: 767px) {
  .contactFormContainer .formContainer {
    width: 91vw;
    margin: 2vh 0 auto 8vw;
  }
}

.contactFormContainer .formContainer h1 {
  font-size: 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0px 0 1vh 0;
}

.contactFormContainer .formContainer .editor-field {
  position: relative;
  margin: 14px 0;
  fill: #70719c;
}

.contactFormContainer .formContainer .email {
  height: 76px;
  width: 90%;
}

.contactFormContainer .formContainer .email .emailField {
  height: 48px;
}

.contactFormContainer .formContainer .message {
  height: 212px;
  width: 100%;
  min-width: 380px;
}

@media (max-width: 767px) {
  .contactFormContainer .formContainer .message {
    width: 90%;
    min-width: 0;
  }
}

.contactFormContainer .formContainer .message .messageField {
  height: 184px;
}

.contactFormContainer .formContainer .btn {
  display: inline-block;
  position: relative;
  height: 50px;
  margin-top: 32px;
  cursor: pointer;
}

.contactFormContainer .formContainer .btnPrimary {
  fill: rgba(160, 162, 233, 0.4);
}

.fieldContainer {
  -webkit-clip-path: polygon(0% 0%, calc(100% - 8px) 0, 100% 8px, 100% 100%, 95% 100%, calc(0% + 8px) 100%, 0% calc(100% - 8px), 0% calc(100% + 8px));
          clip-path: polygon(0% 0%, calc(100% - 8px) 0, 100% 8px, 100% 100%, 95% 100%, calc(0% + 8px) 100%, 0% calc(100% - 8px), 0% calc(100% + 8px));
  border: 2px solid #5e5f84;
  width: 100%;
  position: absolute;
  bottom: 2px;
}

.fieldContainer:before,
.fieldContainer:after {
  content: "";
  height: 2px;
  width: 11.5px;
  background-color: #5e5f84;
  display: block;
  position: absolute;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 5px;
}

.fieldContainer:before {
  right: -3.1px;
  top: 1.6px;
}

.fieldContainer:after {
  left: -3.1px;
  bottom: 1.6px;
}

.fieldBottom {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 30%;
  background-color: #5e5f84;
  right: 0px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, calc(0% + 2px) 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, calc(0% + 2px) 100%);
  bottom: 0px;
}

.labelContainer {
  position: absolute;
  top: 0px;
}

.labelContainer:after {
  position: absolute;
  content: "";
  display: block;
  height: 4px;
  width: 32px;
  background-color: #5e5f84;
  right: -29px;
  -webkit-clip-path: polygon(0 0, calc(100% - 2px) 0%, 100% 100%, 22% 100%);
  clip-path: polygon(0 0, calc(100% - 2px) 0%, 100% 100%, 0% 100%);
  bottom: 0.5px;
}

.labelField {
  position: relative;
  display: block;
  height: 22px;
  width: auto;
  background-color: #5e5f84;
  left: 0px;
  color: #0f1020;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  font-weight: 600;
  padding: 0 24px 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 100%, 0% 100%);
}

.fieldContainer .formInput {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: #0f1020;
  color: #b3b5d2 !important;
  padding: 0px;
  letter-spacing: 0.2px;
}

.editor-field:hover .fieldBottom,
.editor-field.is-focused .fieldBottom {
  background-color: #70719c;
}

.editor-field:hover .fieldContainer,
.editor-field.is-focused .fieldContainer {
  border-color: #70719c;
}

.editor-field:hover .fieldContainer:after,
.editor-field:hover .fieldContainer:before,
.editor-field.is-focused .fieldContainer:after,
.editor-field.is-focused .fieldContainer:before {
  background-color: #70719c !important;
}

.editor-field:hover .labelContainer:after,
.editor-field.is-focused .labelContainer:after {
  background-color: #70719c;
}

.editor-field:hover .labelField,
.editor-field:hover .editor-field__helper,
.editor-field.is-focused .labelField,
.editor-field.is-focused .editor-field__helper {
  background-color: #70719c;
}

.btnPrimary button {
  background-color: rgba(123, 110, 180, 0.4);
  border-color: rgba(160, 162, 233, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 10px;
  color: #dedff4;
  text-shadow: 1px 1px 2px #c533a1, 0 0 1em #4a165a, 0 0 0.2em #7d54df;
}

.btnPrimary:hover button {
  border-color: #494dc3;
}

.btnPrimary:hover .btnBottom {
  background-color: #34389f;
  border-color: #494dc3;
}

.btnPrimary:active button {
  background-color: #2e318c;
  border-color: #3b3fb3;
  color: #c3c5ec;
}

.btnPrimary:active .btnBottom {
  background-color: #2e318c;
  border-color: #3b3fb3;
}

.btn:before,
.btn:after {
  content: "";
  height: 2px;
  width: 11px;
  background-color: rgba(160, 162, 233, 0.4);
  display: block;
  position: absolute;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 2px;
  border-radius: 2px;
}

.btn:before {
  right: -1.07px;
  top: 4px;
}

.btn:after {
  left: -1.07px;
  bottom: 6px;
}

.btnBottom {
  position: absolute;
  content: "";
  display: block;
  height: 4px;
  width: 50%;
  background-color: rgba(123, 110, 180, 0.4);
  pointer-events: none;
  right: 0px;
  bottom: 0px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, calc(0% + 4px) 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, calc(0% + 4px) 100%);
  border-bottom: 2px solid rgba(160, 162, 233, 0.4);
  border-right: 2px solid rgba(160, 162, 233, 0.4);
}

.btnBottom:before {
  content: "";
  height: 2px;
  width: 11px;
  background-color: rgba(160, 162, 233, 0.4);
  display: block;
  position: absolute;
  left: -5px;
  bottom: 2px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.myFormButton {
  height: 100%;
  background-color: none;
  border: none;
  color: white;
  padding: 0 24px;
  height: 48px;
  border: 2px solid;
  -webkit-clip-path: polygon(0% 0%, calc(100% - 8px) 0, 100% 8px, 100% 100%, 95% 100%, calc(0% + 8px) 100%, 0% calc(100% - 8px), 0% 20%);
          clip-path: polygon(0% 0%, calc(100% - 8px) 0, 100% 8px, 100% 100%, 95% 100%, calc(0% + 8px) 100%, 0% calc(100% - 8px), 0% 20%);
}

/* about Me Text */
.aboutMeFrame {
  background-color: transparent;
  border-radius: 10%;
  border: 1rem solid;
  border-bottom-color: #121212;
  border-left-color: #080808;
  border-right-color: #080808;
  border-top-color: #020202;
  -webkit-box-shadow: inset 0 0 18rem black, inset 0 0 3rem black, 0 0 10rem black;
          box-shadow: inset 0 0 18rem black, inset 0 0 3rem black, 0 0 10rem black;
  height: 72%;
}

@media (max-width: 767px) {
  .aboutMeFrame {
    margin: 3vw;
    height: 82.5vh;
    overflow: auto;
  }
}

.aboutMeWrapper {
  position: relative;
  padding: 30px 40px;
  max-width: 600px;
  margin: 0 auto !important;
  min-height: 70vh;
  font-family: "Space Mono", monospace;
  font-family: "Share Tech Mono", monospace;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.9;
  margin: 0 0.5em;
  color: #78cd6e;
  background-color: #0f1020;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, rgba(10, 15, 8, 0.1))), radial-gradient(transparent 65%, rgba(2, 10, 1, 0.6) 100%);
  background-image: linear-gradient(transparent 50%, rgba(10, 15, 8, 0.1) 50%), radial-gradient(transparent 65%, rgba(2, 10, 1, 0.6) 100%);
  background-size: 15px, 100%;
  border-radius: 10%;
}

@media (max-width: 767px) {
  .aboutMeWrapper {
    min-height: 76vh;
  }
}

.aboutMeLine {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
  opacity: 0.65;
  background-size: 100 100;
  -webkit-animation: noise 240ms infinite;
          animation: noise 240ms infinite;
  background-image: url(http://api.thumbr.it/whitenoise-300x300.png?background=0a2406ff&noise=142238&density=85&opacity=100);
}

@-webkit-keyframes noise {
  0% {
    background-image: url(http://api.thumbr.it/whitenoise-200x200.png?background=0a2406ff&noise=142238&density=85&opacity=100);
  }
  33% {
    background-image: url(http://api.thumbr.it/whitenoise-210x200.png?background=0a2406ff&noise=182235&density=85&opacity=100);
  }
  66% {
    background-image: url(http://api.thumbr.it/whitenoise-200x190.png?background=0a2406ff&noise=142248&density=85&opacity=100);
  }
}

@keyframes noise {
  0% {
    background-image: url(http://api.thumbr.it/whitenoise-200x200.png?background=0a2406ff&noise=142238&density=85&opacity=100);
  }
  33% {
    background-image: url(http://api.thumbr.it/whitenoise-210x200.png?background=0a2406ff&noise=182235&density=85&opacity=100);
  }
  66% {
    background-image: url(http://api.thumbr.it/whitenoise-200x190.png?background=0a2406ff&noise=142248&density=85&opacity=100);
  }
}

.aboutMeWrapper:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  -webkit-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
  width: 100vw;
  height: 120px;
  mix-blend-mode: screen;
  background-color: #0f1020;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, rgba(0, 0, 0, 0.5))), -webkit-gradient(linear, left bottom, left top, from(#050f05), color-stop(110%, rgba(0, 0, 0, 0)));
  background-image: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.5) 50%), linear-gradient(to top, #050f05, rgba(0, 0, 0, 0) 110%);
  background-size: 15px 15px, 100%;
  -webkit-animation: scan 2.5s linear infinite, blink 0.6s infinite;
          animation: scan 2.5s linear infinite, blink 0.6s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.7;
  }
  15% {
    opacity: 0.4;
  }
  20% {
    opacity: 0.7;
  }
  23% {
    opacity: 0.3;
  }
  27% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.5;
  }
  61% {
    opacity: 0.8;
  }
  62% {
    opacity: 0.6;
  }
  67% {
    opacity: 0.7;
  }
  69% {
    opacity: 0.4;
  }
  77% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.7;
  }
}

@keyframes blink {
  0% {
    opacity: 0.7;
  }
  15% {
    opacity: 0.4;
  }
  20% {
    opacity: 0.7;
  }
  23% {
    opacity: 0.3;
  }
  27% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.5;
  }
  61% {
    opacity: 0.8;
  }
  62% {
    opacity: 0.6;
  }
  67% {
    opacity: 0.7;
  }
  69% {
    opacity: 0.4;
  }
  77% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.7;
  }
}

@-webkit-keyframes scan {
  0% {
    -webkit-transform: translate3D(0, -100px, 0);
            transform: translate3D(0, -100px, 0);
  }
  100% {
    -webkit-transform: translate3D(0, 600px, 0);
            transform: translate3D(0, 600px, 0);
  }
}

@keyframes scan {
  0% {
    -webkit-transform: translate3D(0, -100px, 0);
            transform: translate3D(0, -100px, 0);
  }
  100% {
    -webkit-transform: translate3D(0, 600px, 0);
            transform: translate3D(0, 600px, 0);
  }
}

.aboutMeWrapper h1 {
  padding: 0 10px;
  background-color: rgba(20, 40, 30, 0.8);
  border: 3px solid rgba(20, 40, 30, 0.8);
}
/*# sourceMappingURL=Contact.css.map */