* {
  font-family: 'Nova Mono', monospace;
}

html {
  overflow: hidden;
  font-size: calc(0.5vw + 6px);
}

@media (max-width: 767px) {
  html {
    font-size: calc(0.5vw + 10px);
  }
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.arcadeBackground {
  height: calc(1000px + 100vh);
  background-image: url(arcadeEntrance.jpg);
  background-color: black;
  background-position-x: right;
  background-position-y: -50vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.containerSign {
  -webkit-perspective: 70px;
          perspective: 70px;
  position: absolute;
  top: 30%;
  left: 55%;
}

@media (max-width: 767px) {
  .containerSign {
    top: 15%;
  }
}

.titleName {
  -webkit-transform: translate(-85%, 32%) rotateY(-2deg) rotateX(-1deg) rotateZ(4deg) skewY(-9.5deg);
          transform: translate(-85%, 32%) rotateY(-2deg) rotateX(-1deg) rotateZ(4deg) skewY(-9.5deg);
  font-size: 3.5rem;
  white-space: nowrap;
  color: #ffe6ff;
  -webkit-animation: shine 2s forwards, flicker 3s infinite;
          animation: shine 2s forwards, flicker 3s infinite;
  -webkit-perspective-origin: 150% 150%;
          perspective-origin: 150% 150%;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.titleName:hover {
  cursor: pointer;
}

@media (max-width: 767px) {
  .titleName {
    white-space: normal;
  }
}

@media (min-width: 2000px) {
  .titleName {
    -webkit-transform: translate(-90%, 32%) rotateY(-2deg) rotateX(-1deg) rotateZ(4deg) skewY(-13deg);
            transform: translate(-90%, 32%) rotateY(-2deg) rotateX(-1deg) rotateZ(4deg) skewY(-13deg);
  }
}

.titleName span.flicker {
  -webkit-animation: shine 2s forwards, blink 3s 2s infinite;
          animation: shine 2s forwards, blink 3s 2s infinite;
}

.titleName span.flickerTwo {
  -webkit-animation: shine 2s forwards, blink 8s 2s infinite;
          animation: shine 2s forwards, blink 8s 2s infinite;
}

/* Keyframes for flickering font Animations */
@-webkit-keyframes blink {
  0%, 45%, 75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #a6a4d6, -0.2rem 0.1rem 1rem #9692e6, 0.2rem 0.1rem 1rem #8480e9, 0 -0.5rem 2rem #615be1, 0 0.5rem 3rem #7d54df;
  }
  28%,
  35% {
    color: #8480e9;
    text-shadow: none;
  }
  82%,
  99% {
    color: rgba(43, 61, 227, 0.363);
    text-shadow: none;
  }
}
@keyframes blink {
  0%, 45%, 75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #a6a4d6, -0.2rem 0.1rem 1rem #9692e6, 0.2rem 0.1rem 1rem #8480e9, 0 -0.5rem 2rem #615be1, 0 0.5rem 3rem #7d54df;
  }
  28%,
  35% {
    color: #8480e9;
    text-shadow: none;
  }
  82%,
  99% {
    color: rgba(43, 61, 227, 0.363);
    text-shadow: none;
  }
}

@-webkit-keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 1.1rem #ffe6ff, 0 0 2rem #a6a4d6, -0.2rem 0.1rem 1.5rem #9692e6, 0.2rem 0.1rem 1.5rem #8480e9, 0 -0.5rem 2.5rem #615be1, 0 0.5rem 3.5rem #7d54df;
  }
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 1.1rem #ffe6ff, 0 0 2rem #a6a4d6, -0.2rem 0.1rem 1.5rem #9692e6, 0.2rem 0.1rem 1.5rem #8480e9, 0 -0.5rem 2.5rem #615be1, 0 0.5rem 3.5rem #7d54df;
  }
}

@media (max-width: 767px) {
  @-webkit-keyframes shine {
    100% {
      text-shadow: 0 0 0.1rem #ffe6ff, 0 0 1rem #a6a4d6, -0.2rem 0.1rem 0.5rem #9692e6, 0.2rem 0.1rem 0.5rem #8480e9, 0 -0.5rem 1.5rem #615be1, 0 0.5rem 1.5rem #7d54df;
    }
  }
  @keyframes shine {
    100% {
      text-shadow: 0 0 0.1rem #ffe6ff, 0 0 1rem #a6a4d6, -0.2rem 0.1rem 0.5rem #9692e6, 0.2rem 0.1rem 0.5rem #8480e9, 0 -0.5rem 1.5rem #615be1, 0 0.5rem 1.5rem #7d54df;
    }
  }
}

@-webkit-keyframes flicker {
  from {
    opacity: 1;
  }
  4% {
    opacity: 0.9;
  }
  6% {
    opacity: 0.85;
  }
  8% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  11% {
    opacity: 0.922;
  }
  12% {
    opacity: 0.9;
  }
  14% {
    opacity: 0.95;
  }
  16% {
    opacity: 0.98;
  }
  17% {
    opacity: 0.9;
  }
  19% {
    opacity: 0.93;
  }
  20% {
    opacity: 0.99;
  }
  24% {
    opacity: 1;
  }
  26% {
    opacity: 0.94;
  }
  28% {
    opacity: 0.98;
  }
  37% {
    opacity: 0.93;
  }
  38% {
    opacity: 0.5;
  }
  39% {
    opacity: 0.96;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0.97;
  }
  46% {
    opacity: 0.94;
  }
  56% {
    opacity: 0.9;
  }
  58% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.99;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.95;
  }
  93% {
    opacity: 0.93;
  }
  95% {
    opacity: 0.95;
  }
  97% {
    opacity: 0.93;
  }
  to {
    opacity: 1;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }
  4% {
    opacity: 0.9;
  }
  6% {
    opacity: 0.85;
  }
  8% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  11% {
    opacity: 0.922;
  }
  12% {
    opacity: 0.9;
  }
  14% {
    opacity: 0.95;
  }
  16% {
    opacity: 0.98;
  }
  17% {
    opacity: 0.9;
  }
  19% {
    opacity: 0.93;
  }
  20% {
    opacity: 0.99;
  }
  24% {
    opacity: 1;
  }
  26% {
    opacity: 0.94;
  }
  28% {
    opacity: 0.98;
  }
  37% {
    opacity: 0.93;
  }
  38% {
    opacity: 0.5;
  }
  39% {
    opacity: 0.96;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0.97;
  }
  46% {
    opacity: 0.94;
  }
  56% {
    opacity: 0.9;
  }
  58% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.99;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.95;
  }
  93% {
    opacity: 0.93;
  }
  95% {
    opacity: 0.95;
  }
  97% {
    opacity: 0.93;
  }
  to {
    opacity: 1;
  }
}

/* on entranceBackground */
.entranceBackground {
  background-image: url(arcadeEntrance.jpg);
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-position: center;
  -webkit-animation-name: divMove;
          animation-name: divMove;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes divMove {
  0% {
    height: calc(1000px + 100vh);
    background-position-x: right;
    background-position-y: -50vh;
    background-size: cover;
  }
  100% {
    height: 100vh;
    width: 100vw;
    background-position: center;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes divMove {
  0% {
    height: calc(1000px + 100vh);
    background-position-x: right;
    background-position-y: -50vh;
    background-size: cover;
  }
  100% {
    height: 100vh;
    width: 100vw;
    background-position: center;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.titleEntranceBackground {
  background-image: url(arcadeEntrance.jpg);
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-position: center;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.containerJokes {
  -webkit-perspective: 300px;
          perspective: 300px;
  position: absolute;
  top: 26%;
  left: 60%;
}

h1.jokes {
  -webkit-transform: rotate(-15deg) rotateX(-1deg) rotateY(-7deg) skewY(-5deg);
          transform: rotate(-15deg) rotateX(-1deg) rotateY(-7deg) skewY(-5deg);
  font-size: 1.5em;
  color: transparent;
  white-space: nowrap;
  -webkit-animation-name: wait;
          animation-name: wait;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: textMove;
          animation-name: textMove;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

h1.jokes:hover {
  color: #ddacac;
  cursor: pointer;
  opacity: 0.8;
  text-shadow: 5px 5px black;
  left: 56%;
}

@media (max-width: 767px) {
  h1.jokes {
    display: none;
  }
}

@-webkit-keyframes textMove {
  0% {
    left: 56%;
    text-shadow: 4px 7px 25px #ffe6ff;
  }
  20% {
    left: 56%;
    text-shadow: 3px 5px 25px #ce0000;
  }
  40% {
    text-shadow: 3px 5px 35px #ffe6ff;
  }
  50% {
    left: 56.1%;
    text-shadow: 1px 10px 30px #ce0000;
  }
  70% {
    text-shadow: 3px 5px 35px #ffe6ff;
  }
  100% {
    left: 55.7%;
    text-shadow: 2px 10px 25px #ce0000;
  }
}

@keyframes textMove {
  0% {
    left: 56%;
    text-shadow: 4px 7px 25px #ffe6ff;
  }
  20% {
    left: 56%;
    text-shadow: 3px 5px 25px #ce0000;
  }
  40% {
    text-shadow: 3px 5px 35px #ffe6ff;
  }
  50% {
    left: 56.1%;
    text-shadow: 1px 10px 30px #ce0000;
  }
  70% {
    text-shadow: 3px 5px 35px #ffe6ff;
  }
  100% {
    left: 55.7%;
    text-shadow: 2px 10px 25px #ce0000;
  }
}

@-webkit-keyframes wait {
  0% {
    font-size: 0;
  }
  49% {
    font-size: 0;
  }
  50% {
    font-size: 2em;
  }
  100% {
    font-size: 2em;
  }
}

@keyframes wait {
  0% {
    font-size: 0;
  }
  49% {
    font-size: 0;
  }
  50% {
    font-size: 2em;
  }
  100% {
    font-size: 2em;
  }
}

p.jokes {
  min-width: 200px;
  position: absolute;
  top: 37%;
  -webkit-transform: translate(5vw);
          transform: translate(5vw);
  font-size: 1.5rem;
  color: #ddacac;
  padding: 1vh;
  opacity: .8;
  overflow-wrap: break-word;
  width: 22vw;
}

.nothing {
  display: none;
}

.containerPacman {
  -webkit-perspective: 500px;
          perspective: 500px;
}

.titleGameTease, .gameTease {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(3deg) rotateY(2deg) rotate(2deg) translateZ(2vh) skewX(1deg);
          transform: rotateX(3deg) rotateY(2deg) rotate(2deg) translateZ(2vh) skewX(1deg);
  top: 40vh;
  left: 33vw;
  width: 250px;
}

@media (max-width: 767px) {
  .titleGameTease, .gameTease {
    left: 20vw;
  }
}

.titleGameTease .titlehangman, .gameTease .titlehangman, .gameTease .hangman {
  position: relative;
  padding: 0;
  height: 9vw;
  min-height: 150px;
}

.titleGameTease .titlehangman > img, .gameTease .titlehangman > img, .gameTease .titleGameTease .hangman > img, .gameTease .hangman > img {
  height: 100%;
  opacity: 0.9;
}

.titleGameTease .titlehangman > a, .gameTease .titlehangman > a, .gameTease .titleGameTease .hangman > a, .gameTease .hangman > a {
  position: absolute;
  top: 65%;
  left: 3rem;
  font-weight: bolder;
  text-decoration: none;
  color: black;
  text-shadow: 0 0 10px #ffe6ff, 0 0 20px #ffe6ff, 0 0 30px #ddacac, 0 0 40px #ddacac, 0 0 70px #ddacac, 0 0 80px #fe735a, 0 0 100px #fe735a;
  font-size: 1.2rem;
}

.titleGameTease .titlehangman:nth-child(1), .gameTease .titlehangman:nth-child(1), .gameTease .hangman:nth-child(1) {
  margin-left: 0;
}

.titleGameTease .titlehangman:nth-child(1) > img, .gameTease .titlehangman:nth-child(1) > img, .gameTease .titleGameTease .hangman:nth-child(1) > img, .gameTease .hangman:nth-child(1) > img {
  -webkit-transform: skewY(-1deg) scale(0.9);
          transform: skewY(-1deg) scale(0.9);
}

.titleGameTease .titlehangman:nth-child(2), .gameTease .titlehangman:nth-child(2), .gameTease .hangman:nth-child(2) {
  margin-left: auto;
  -webkit-transform: rotateY(1deg);
          transform: rotateY(1deg);
}

.titleGameTease .titlehangman:nth-child(3), .gameTease .titlehangman:nth-child(3), .gameTease .hangman:nth-child(3) {
  margin-bottom: 1vw;
  margin-left: 2vw;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.gameTease {
  -webkit-animation-name: gameTeaseBox;
          animation-name: gameTeaseBox;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.gameTease .hangman {
  -webkit-animation-name: gameTease;
          animation-name: gameTease;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.gameTease .hangman > a {
  -webkit-animation-name: gameTeaseFont;
          animation-name: gameTeaseFont;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes gameTease {
  0% {
    height: 0;
  }
  40% {
    height: 0;
    margin: 0;
  }
  41% {
    height: 11vw;
  }
  100% {
    height: 9vw;
    min-height: 150px;
  }
}

@keyframes gameTease {
  0% {
    height: 0;
  }
  40% {
    height: 0;
    margin: 0;
  }
  41% {
    height: 11vw;
  }
  100% {
    height: 9vw;
    min-height: 150px;
  }
}

@-webkit-keyframes gameTeaseBox {
  0% {
    top: 150vh;
  }
  40% {
    top: 130vh;
    left: 17vw;
    width: 250px;
  }
  100% {
    top: 40vh;
    left: 33vw;
    width: 250px;
  }
}

@keyframes gameTeaseBox {
  0% {
    top: 150vh;
  }
  40% {
    top: 130vh;
    left: 17vw;
    width: 250px;
  }
  100% {
    top: 40vh;
    left: 33vw;
    width: 250px;
  }
}

@media (max-width: 767px) {
  @-webkit-keyframes gameTeaseBox {
    0% {
      top: 150vh;
    }
    40% {
      top: 130vh;
      left: 10vw;
      width: 250px;
    }
    100% {
      top: 40vh;
      left: 20vw;
      width: 250px;
    }
  }
  @keyframes gameTeaseBox {
    0% {
      top: 150vh;
    }
    40% {
      top: 130vh;
      left: 10vw;
      width: 250px;
    }
    100% {
      top: 40vh;
      left: 20vw;
      width: 250px;
    }
  }
}

@-webkit-keyframes gameTeaseFont {
  0% {
    font-size: 0%;
  }
  49% {
    font-size: 0%;
  }
  50% {
    font-size: 1rem;
  }
  100% {
    font-size: 1.2rem;
  }
}

@keyframes gameTeaseFont {
  0% {
    font-size: 0%;
  }
  49% {
    font-size: 0%;
  }
  50% {
    font-size: 1rem;
  }
  100% {
    font-size: 1.2rem;
  }
}

/* simple - enter transition 300ms, exit 150ms */
.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.fade-appear-active,
.fade-enter, .fade-enter-active {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  -webkit-transition: opacity 300ms linear, translate 150ms linear;
  transition: opacity 300ms linear, translate 150ms linear;
}

.fade-exit {
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.fade-exit, .fade-exit-active {
  opacity: 0;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: opacity 150ms linear, translate 150ms linear;
  transition: opacity 150ms linear, translate 150ms linear;
}
/*# sourceMappingURL=App.css.map */