* {
  font-family: 'Nova Mono', monospace;
}

.arcadeBackground {
  height: calc(1000px + 100vh); 
  background-image: url(arcadeEntrance.jpg);
  background-color: black; 
  background-position-x: right;
  background-position-y: -50vh;
  background-size: cover; 
} 

.titleName {
  position: absolute;
  top: 40%;
  left: 55%;
  transform: translate(-70%, -50%)
              rotate(-6deg);
  font-size: 3.3em;
  color: #fe735a;
  white-space: nowrap;
  text-shadow: 0px 0px 10px #fe735a;
  animation-name: textMove;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes textMove {
  0% {
    left: 55%;
    color: #fe735a;
    text-shadow: 0px 0px 10px #fe735a;}
  100% {
    left: 55.1%;
    color: #fe805a;
    text-shadow: 1px 1px 15px #fe805a;}
}

h1 :hover {
  font-size: larger;
} 


.entranceBackground{
  background-image: url(arcadeEntrance.jpg);
  background-color: black; 
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; 
  width: 100vw; 
  background-position: center; 
  animation-name: divMove;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
}


@keyframes divMove {
  0% { 
    height: calc(1000px + 100vh); 
    background-position-x: right;
    background-position-y: -50vh;
    background-size: cover; 
    }
  50% {
    height: 100vh; 
    width: 100vw; 
    background-position: center; 
    transform: scale(1,1);
    }
  100% {
    transform: scale(2, 2); 
    }
  }


.nothing {
  display:none; 
}


.gameTease  {
  position: absolute; 
  top: 0; 
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  max-width: 921px;
  height: 100vh; 
  margin: 3vh 0 0 12vw;
  }

@keyframes gameTease {
  0% { height: 0;
    width: 0;
    min-width: 0; 
    min-height: 0;}
  70% {
    margin: 20vw; 
    height: 0;
    width: 0;
    min-width: 0; 
    min-height: 0;}
  100% {
   
    margin: 50px;}
  }

.gameTease .hangman {
  height: 16vw;
  width: 16vw;
  min-width: 200px; 
  min-height: 200px; 
  border-radius: 50%;
  margin: 50px; 
  z-index: 2;
  overflow: hidden;
  animation-name: gameTease;
  animation-duration: 25s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
 }

.gameTease .hangman img {
  width: 100%; 
  height: 100%;
  opacity: 0.8;
}


