* {
  font-family: 'Nova Mono', monospace;
}
html{
  overflow: hidden; 
}

.arcadeBackground {
  height: calc(1000px + 100vh); 
  background-image: url(arcadeEntrance.jpg);
  background-color: black; 
  background-position-x: right;
  background-position-y: -50vh;
  background-size: cover; 
} 

.titleName {
  position: absolute;
  top: 40%;
  left: 55%;
  transform: translate(-70%, -50%)
              rotate(-6deg);
  font-size: 3.3em;
  color: #fe735a;
  white-space: nowrap;
  text-shadow: 0px 0px 10px #fe735a;
  animation-name: textMove;
  animation-duration: 0.1s;
  animation-timing-function: cubic-bezier(.215,.61,.355,1);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.jokes {
  position: absolute;
  top: 47%;
  left: 55%; 
  transform: translate(-60%, -50%)
              rotate(-4.2deg);
  font-size: 3.3em;
  color: #fe735a;
  white-space: nowrap;
  text-shadow: 0px 0px 10px #fe735a;
  animation-name: textMove;
  animation-duration: 0.1s;
  animation-timing-function: cubic-bezier(.215,.61,.355,1);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.jokes span {
  font-size: 0.9em; 
}


@keyframes textMove {
  0% {
    left: 55%;
    color: #fe735a;
    text-shadow: 0px 0px 10px #fe735a;}
  100% {
    left: 55.006%;
    color: #fe805a;
    text-shadow: 1px 1px 15px #fe805a;}
}

h1 :hover {
  font-size: larger;
} 


.entranceBackground{
  background-image: url(arcadeEntrance.jpg);
  background-color: black; 
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; 
  width: 100vw; 
  background-position: center; 
  animation-name: divMove;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
}


@keyframes divMove {
  0% { 
    height: calc(1000px + 100vh); 
    background-position-x: right;
    background-position-y: -50vh;
    background-size: cover; 
    }
  100% {
    height: 100vh; 
    width: 100vw; 
    background-position: center; 
    transform: scale(1,1);
    }
  /* 100% {
    transform: scale(2, 2); 
    } */
  }

.nothing {
  display:none; 
}

.gameTease  {
  position: absolute; 
  left: 33vw; 
  display: flex; 
  flex-flow: wrap;
  align-items: baseline; 
  width: 30%;
  height: 80%; 
  animation-name: gameTeaseBox;
  animation-duration: 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
  }

  @keyframes gameTeaseBox{
    0% { top: 100vh; 
       }
    40% {
      top: 100vh
      }
    100% {
      top: 35vh
      }
    }

.gameTease .hangman {
  position: relative; 
  z-index: 2;
  padding: 0; 
  animation-name: gameTease;
  animation-duration: 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
 }


@keyframes gameTease {
  0% { height: 0;
     }
  40% {
    height: 0;
    margin: 0;
    }
  41% {
    height: 12vw;
  }
  100% {
    height: 10vw;
    min-height: 150px; 
    }
}

.gameTease .hangman:nth-child(1){
  align-self: flex-end; 
}

.gameTease .hangman:nth-child(2){
  align-self: flex-start; 
}

.gameTease .hangman:nth-child(3){
  margin-left: 7vw; 
}


.gameTease .hangman img {
  height: 100%;
  opacity: 0.7;
}

.center {
  position: absolute;
  top: 65%; 
  left: 31%; 
  font-size: 121%;
  font-weight: bolder; 
  animation-name: gameTeaseFont;
  animation-duration: 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
}


@keyframes gameTeaseFont {
  0% { 
    font-size: 0%;
    font-weight: 0; 
    }
  40% {
    font-size: 121%;
    font-weight: 0; 
    }
  100% {
    font-size: 121%;
    font-weight: bolder; 
    }
  }
